*/5 * * * * python3 /smartmeter/python/aktuell_leistung-verbrauch.py >> /smartmeter/log/cron.log 2>&1
32 23 * * * python3 /smartmeter/python/tag_bezug-einspeisen-verbrauch.py >> /smartmeter/log/cron.log 2>&1
32 0 1 * * python3 /smartmeter/python/unload-clear_db.py >> /smartmeter/log/cron.log 2>&1
# An empty line is required at the end of this file for a valid cron file.
